# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Secrets
.env
.env.*
*.pem
*.key

# Docker/Postgres
pgdata/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Backup files
*.sql
*.dump
*.tar.gz
db_backup_*.*
media_backup_*.*

# Node (if frontend uses npm/yarn)
node_modules/
grafana-data/grafana.db
